<div id="footer">
	<p>By participating in this project, you agree that any contributions you make shall be subject to a <%= link_to "Creative Commons CC0 1.0 Universal Public Domain Dedication", "https://creativecommons.org/publicdomain/zero/1.0/" %></p>

	<p>This site was adapted from a <a href="http://www.nypl.org/labs">NYPL Labs</a> project entitled Building Inspector. If your interest lies in digitizing maps of New York, please visit their <a href="http://buildinginspector.nypl.org/">site</a>.</p>
</div>
